
body{
    background-color: white;
}



h1{
    font-family: 'Courier New', Courier, monospace;
    color: black;
    text-align: center;
}

button {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    overflow: hidden;
    font-size: larger;
    font-family: 'Courier New', Courier, monospace;
    flex: none;

}

button:hover{
    background-color: maroon;
    color: white;
    
}

